In [12]:
import pandas as pd

In [13]:
weather_data = pd.read_csv('kentucky_weather_data.csv')

In [14]:
weather_data.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WT01,WT03,WT04,WT06,WT11
0,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-01,1.91,0.0,0.0,63.0,46.0,57.0,NaN,1.0,NaN,NaN,NaN
1,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-02,1.44,0.0,0.0,70.0,50.0,50.0,NaN,NaN,NaN,NaN,NaN
2,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-03,0.05,0.0,0.0,50.0,26.0,27.0,NaN,NaN,NaN,NaN,NaN
3,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-04,0.00,0.0,0.0,32.0,19.0,23.0,NaN,NaN,NaN,NaN,NaN
4,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-05,0.00,0.0,0.0,45.0,23.0,42.0,NaN,NaN,NaN,NaN,NaN

In [15]:
weather_data.columns

Index(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'PRCP',
       'SNOW', 'SNWD', 'TMAX', 'TMIN', 'TOBS', 'WT01', 'WT03', 'WT04', 'WT06',
       'WT11'],
      dtype='object')

##### DAPR - Number of days included in the multiday precipitation total (MDPR)
##### SNOW - Snowfall
##### WT03 - Thunder
##### WT04 - Ice pellets, sleet, snow pellets, or small hail"
##### PRCP - Precipitation
##### WT05 - Hail (may include small hail)
##### TOBS - Temperature at the time of observation
##### WT06 - Glaze or rime
##### SNWD - Snow depth
##### WT11 - High or damaging winds
##### WT01 - Fog, ice fog, or freezing fog (may include heavy fog)
##### TMAX - Maximum temperature
##### TAVG - Average Temperature.
##### TMIN - Minimum temperature
##### MDPR - Multiday precipitation total (use with DAPR and DWPR, if available)

In [16]:
weather_data

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WT01,WT03,WT04,WT06,WT11
0,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-01,1.91,0.0,0.0,63.0,46.0,57.0,NaN,1.0,NaN,NaN,NaN
1,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-02,1.44,0.0,0.0,70.0,50.0,50.0,NaN,NaN,NaN,NaN,NaN
2,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-03,0.05,0.0,0.0,50.0,26.0,27.0,NaN,NaN,NaN,NaN,NaN
3,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-04,0.00,0.0,0.0,32.0,19.0,23.0,NaN,NaN,NaN,NaN,NaN
4,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-05,0.00,0.0,0.0,45.0,23.0,42.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2023-06-28,0.01,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2023-06-29,0.00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
542,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2023-06-30,0.39,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2023-07-01,0.68,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2023-07-02,0.41,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN