In [1]:
import pandas as pd

In [2]:
weather_data = pd.read_csv('/Users/johnchristophersloan/strava_da2_codekentucky/kentucky_weather_data.csv')

In [3]:
weather_data.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DAPR,MDPR,PRCP,SNOW,...,TAVG,TMAX,TMIN,TOBS,WT01,WT03,WT04,WT05,WT06,WT11
0,USC00151576,"CLAY CITY 1 WNW, KY US",37.8616,-83.9229,192.0,2022-01-01,NaN,NaN,1.47,0.0,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN
1,USC00151576,"CLAY CITY 1 WNW, KY US",37.8616,-83.9229,192.0,2022-01-02,NaN,NaN,1.40,0.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2,USC00151576,"CLAY CITY 1 WNW, KY US",37.8616,-83.9229,192.0,2022-01-03,NaN,NaN,0.04,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00151576,"CLAY CITY 1 WNW, KY US",37.8616,-83.9229,192.0,2022-01-04,NaN,NaN,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00151576,"CLAY CITY 1 WNW, KY US",37.8616,-83.9229,192.0,2022-01-05,NaN,NaN,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
weather_data.columns

Index(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'DAPR',
       'MDPR', 'PRCP', 'SNOW', 'SNWD', 'TAVG', 'TMAX', 'TMIN', 'TOBS', 'WT01',
       'WT03', 'WT04', 'WT05', 'WT06', 'WT11'],
      dtype='object')

##### DAPR - Number of days included in the multiday precipitation total (MDPR)
##### SNOW - Snowfall
##### WT03 - Thunder
##### WT04 - Ice pellets, sleet, snow pellets, or small hail"
##### PRCP - Precipitation
##### WT05 - Hail (may include small hail)
##### TOBS - Temperature at the time of observation
##### WT06 - Glaze or rime
##### SNWD - Snow depth
##### WT11 - High or damaging winds
##### WT01 - Fog, ice fog, or freezing fog (may include heavy fog)
##### TMAX - Maximum temperature
##### TAVG - Average Temperature.
##### TMIN - Minimum temperature
##### MDPR - Multiday precipitation total (use with DAPR and DWPR, if available)

In [5]:
columns_to_drop = ['MDPR',
                   'DAPR']
weather_data.drop(columns=columns_to_drop, inplace=True)

In [6]:
weather_data

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,TOBS,WT01,WT03,WT04,WT05,WT06,WT11
0,USC00151576,"CLAY CITY 1 WNW, KY US",37.8616,-83.9229,192.0,2022-01-01,1.47,0.0,0.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN
1,USC00151576,"CLAY CITY 1 WNW, KY US",37.8616,-83.9229,192.0,2022-01-02,1.40,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2,USC00151576,"CLAY CITY 1 WNW, KY US",37.8616,-83.9229,192.0,2022-01-03,0.04,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00151576,"CLAY CITY 1 WNW, KY US",37.8616,-83.9229,192.0,2022-01-04,0.00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00151576,"CLAY CITY 1 WNW, KY US",37.8616,-83.9229,192.0,2022-01-05,0.00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2422,USC00157652,"STANTON 2 W, KY US",37.8604,-83.8970,219.5,2023-06-23,0.09,0.0,0.0,NaN,72.0,61.0,65.0,NaN,NaN,NaN,NaN,NaN,NaN
2423,USC00157652,"STANTON 2 W, KY US",37.8604,-83.8970,219.5,2023-06-24,0.00,0.0,0.0,NaN,74.0,64.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN
2424,USC00157652,"STANTON 2 W, KY US",37.8604,-83.8970,219.5,2023-06-25,0.00,0.0,0.0,NaN,83.0,63.0,63.0,NaN,NaN,NaN,NaN,NaN,NaN
2425,USC00157652,"STANTON 2 W, KY US",37.8604,-83.8970,219.5,2023-06-26,0.28,0.0,0.0,NaN,83.0,63.0,68.0,NaN,NaN,NaN,NaN,NaN,NaN
2426,USC00157652,"STANTON 2 W, KY US",37.8604,-83.8970,219.5,2023-06-27,0.14,0.0,0.0,NaN,83.0,61.0,63.0,NaN,NaN,NaN,NaN,NaN,NaN